---
import ListOfMovies from '../components/ListOfMovies.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Las pelis favoritas de @bjvalmaseda">
	<main class="m-auto max-w-4xl">
		<Title/>

		<ListOfMovies/>
	</main>
</Layout>
