---
import { movies } from './../data/movies';
import MovieItem from './MovieItem.astro';

---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3 px-4">
  {movies.map(({id, title, img})=><li><MovieItem id={id} title={title} img={img}/></li>)}
</ul>