---
export interface Props{
  title: string,
  id: string,
  img: string
}
const {title, img, id} =Astro.props
---

<a class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow" href={`/${id}`}>
  <img 
    class="aspect-[531/797] object-cover w-full rounded" 
    src={img} 
    alt={`Portada de ${title}`}
    style={`view-transition-name: movie-${id}`}
  >
</a>