---
const {title, img} =Astro.props
---

<a class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow" href="/super-mario">
    <img class="aspec-[389/500] object-cover w-full rounded" src="https://www.themoviedb.org/t/p/w440_and_h660_face/zNKs1T0VZuJiVuhuL5GSCNkGdxf.jpg" alt="Portada de Mario">
</a>